html {
  background: rgb(150, 150, 255);
}

.title {
  display: flex;
  padding: 1%;
  font-size: 1.4em;
  font-family: 'Noto Sans JP', sans-serif;
}

.App {
  text-align: center;
  height: 40vh; 
  font-size: 1.3em;
}

.App ul {
  list-style-type: none;
}

.listComp {
  display: flex;
  flex-direction: column;
  width: 45%;
  border: 2px solid black;
  border-radius: 8px;
  margin: 0 25%;
  padding: 2%;
  background: rgb(252, 159, 105);
}
