.title {
  border: 1px solid orange;
  display: flex;
  padding: 1%;
  font-size: 1.4em;
}

.App {
  border: 1px solid blue;
  text-align: center;
  height: 40vh; 
  font-size: 1.3em;
}

.App ul {
  list-style-type: none;
}

.App-link {
  color: #61dafb;
}