html {
  background: rgb(183, 183, 247);
}

.title {
  display: flex;
  padding: 1%;
  font-size: 1.4em;
  font-family: 'Noto Sans JP', sans-serif;
}

.App {
  text-align: center;
  height: 40vh; 
  font-size: 1.3em;
}

.App ul {
  list-style-type: none;
}
